@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Regular.ttf") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Medium.ttf") format("TrueType");
  font-weight: 500;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Semibold.ttf") format("TrueType");
  font-weight: 600;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Bold.ttf") format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Black.ttf") format("TrueType");
  font-weight: 900;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: normal;
}

.header-full {
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .g10 {
    color: #fafafa;
  }
  .grey-g20 {
    background-color: #161718;
  }
  .g20 {
    background-color: #f5f5f5;
  }
  .g40 {
    color: #dfdfdf;
  }
  .g30 {
    color: #ebebec;
  }
  .g50 {
    color: #424344;
  }
  .g70 {
    color: #a7a7a8;
  }
  .g80 {
    color: #989999;
  }
  .g90 {
    color: #898a8a;
  }
  .g100 {
    color: #7b7b7c;
  }
  .g700 {
    color: #252627;
  }
  .g900 {
    color: #898a8a;
  }
}

#first-row-projects,
#second-row-projects {
  display: grid;
  gap: 56px;
}

.setbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.setbody > div {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.content-2 {
  display: flex;
  flex-direction: column;
  gap: 8px; /* should originally be 4px  */
}

.content-2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-2 > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
}

.content-1 {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.content-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#actual-footer {
  padding: 40px 20px 56px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.sidebar-bttm-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

#actual-footer > div:nth-child(2),
.sidebar-bttm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 32px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.d-110 {
  color: #363738;
}

.d-120 {
  color: #6c6d6d;
}

.d-130 {
  color: #989999;
}

.d-140 {
  color: #d7d7d7;
}

.d-150 {
  color: #7b7b7c;
}

#actual-footer > div:nth-child(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#actual-footer ul,
.sidebar-bttm ul {
  display: flex;
  text-decoration-line: underline;
  gap: 20px;
  flex-wrap: wrap;
}

#actual-footer > div > div {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

/* For collect Africa */

.phc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.phc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.phc-x1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #fafafa;
  padding: 8px 16px;
}

.phc-x2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.phc-h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.4px;
  text-align: center;
  font-style: normal;
  max-width: 981px;
}

.phc-p {
  max-width: 677px;
  text-align: center;
  color: #989999;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.56px;
}

.phc-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phc-heading2-alt,
.phc-heading2,
.value-proposition h2 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 26.88px */
  letter-spacing: 0.48px;
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.phc-h-h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  color: #898a8a;
}
.phc-h-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.phc-h-p {
  color: #ebebec;
  padding-top: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.56px;
}

.minusSect {
  margin-top: -76px;
  z-index: 10;
  background-color: #252627;
  position: relative;
}

.phc-bodyp,
.phc-bodyp-alt {
  color: #989999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.012em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.phc-bcont {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.phc-bimage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phc-bimage > div {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theChallenge,
.brainstorming {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ms-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.designProcess {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nopad {
  padding-left: 0px;
  padding-right: 0px;
}

.phc-bodyp-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: disc;
  padding-left: 20px;
}

.competitiveAnalysis {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pbsc-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pbsc-bold {
  color: #fafafa;
}

.pbsc-text h3,
.ls-cont h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 23.8px */
  letter-spacing: 0.4px;
}

.pbsc-ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  gap: 12px;
}

.pbsc-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 155px;
}

.pbsc-image > div {
  width: 235px;
  height: 155px;
  flex-shrink: 0;
}

.pbsc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.phc-bcont-subcont {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.phc-bcont-alt {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.WhoAmIDesigningFor {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.muna {
  border-radius: 8px;
  background: #171a1e;
  max-width: 831px;
  gap: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.muna-cont {
  display: inline-flex;
  padding: 20px 16px;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #070b0e;
  width: 100%;
}

.muna-cont > h6 {
  align-self: self-start;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}

.muna-cont > div {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  letter-spacing: 0.48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.muna-cont > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4px;
}

.muna-cont > div > div > h6 {
  color: #ebebec;
}

.muna-cont > div > div > p {
  color: #898a8a;
}

.ws-sub-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ws-sub-right > div {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #070b0e;
  border-radius: 8px;
}

.ws-sub-right > div > h6 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ws-sub-right > div > p {
  color: #a7a7a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
  letter-spacing: 0.48px;
  max-width: 371px;
}

.ws-sub-right ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 20px;
}

.value-proposition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.value-proposition p,
.ls-cont p,
.phc-bodyp-alt2 {
  color: #a7a7a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
}

.ls-cont p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.value-proposition > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.value-proposition > div:nth-of-type(1) {
  max-width: 480px;
}

.ls-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.ls-cover-cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.one-image,
.five-image {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
  overflow-x: auto;
  height: max-content;
  flex-shrink: 0;
}

.one-image > div {
  width: 130px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  height: max-content;
  align-items: center;
}

.five-image > div {
  width: 134px;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.one-image > div > img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.lscc-alt {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.solution-4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.solution-5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.conclusion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 80px;
  padding-bottom: 32px;
}

.conclusion > h5 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 28.56px */
  letter-spacing: 0.48px;
}

.conclusion > p {
  color: #a7a7a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
  gap: 12px;
}

.project-ctas {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  border-radius: 22px;
  border: 1px solid #fafafa;
}

.project-ctas > span {
  color: #f5f5f5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.grd-auto2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 8px;
  width: max-content;
}

.fheader-h6 {
  color: #161718;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 16.66px */
  text-transform: uppercase;
}

.fheader-h1 {
  color: #161718;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 119%; /* 28.56px */
  letter-spacing: 0.48px;
}

.fheader-button {
  border-radius: 20px;
  border: 1px solid #363738;
  display: grid;
  width: max-content;
  padding: 8px 16px;
  grid-template-columns: repeat(2, auto);
  column-gap: 8px;
  align-items: center;
}

.fheader-button > span {
  color: #363738;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.fheader-top1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto;
  gap: 24px;
}

.fheader-bottom {
  display: grid;
  grid-template-rows: auto auto;
  gap: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.fheader-bottom > h6 {
  color: #424344;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 14.28px */
  text-transform: uppercase;
}

.fheader-bottom > p {
  color: #424344;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.fheader-cont {
  display: grid;
  grid-template-rows: auto auto;
  gap: 80px;
}

@media only screen and (min-width: 1024px) {
  /* For Flow-Finance */

  .grd-auto2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 12px;
    width: max-content;
  }

  .fheader-h6 {
    color: #161718;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .fheader-h1 {
    color: #161718;
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
  }

  .fheader-button {
    border-radius: 20px;
    border: 1px solid #363738;
    display: grid;
    width: max-content;
    padding: 8px 16px;
    grid-template-columns: repeat(2, auto);
    column-gap: 8px;
    align-items: center;
  }

  .fheader-button > span {
    color: #363738;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fheader-top1 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
    gap: 12px;
  }

  .fheader-bottom {
    display: grid;
    grid-template-rows: auto auto;
    gap: 24px;
    padding-left: 24px;
  }

  .fheader-bottom > h6 {
    color: #424344;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .fheader-bottom > p {
    color: #424344;
    max-width: 1215px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 128.571% */
  }

  .fheader-cont {
    display: grid;
    grid-template-rows: auto auto;
    gap: 284px;
  }

  /* For collect Africa */

  .project-ctas {
    padding: 12px 24px;
    gap: 8px;
  }

  .project-ctas > span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .conclusion {
    gap: 20px;
    padding-top: 184px;
    padding-bottom: 276px;
    max-width: 858px;
  }

  .conclusion > h5 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.96px;
  }

  .conclusion > p {
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: 170.2%;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .ls-cont p {
    gap: 28px;
  }

  .five-image {
    width: max-content;
  }
  .solution-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 984px;
    justify-content: space-between;
  }

  .solution-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 984px;
    gap: 84px;
  }

  .lscc-alt {
    display: flex;
    padding-left: 40px;
    flex-direction: row;
    gap: 233px;
  }
  .ls-cont {
    gap: 20px;
  }

  .ls-cover-cont {
    gap: 56px;
  }

  .list-of-solutions h3 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px;
    letter-spacing: 0.48px;
  }

  .list-of-solutions p {
    color: #a7a7a8;
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: 170.2%; /* 27.232px */
    letter-spacing: 0.64px;
  }

  .value-proposition {
    flex-direction: row;
    justify-content: space-between;
  }

  .value-proposition h2 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.96px;
  }

  .value-proposition p,
  .phc-bodyp-alt2 {
    color: #a7a7a8;
    font-weight: 510;
    line-height: 170.2%; /* 27.232px */
    letter-spacing: 0.64px;
  }

  .value-proposition > div {
    gap: 20px;
  }

  .value-proposition > div:nth-of-type(1) {
    max-width: 480px;
  }

  .WhoAmIDesigningFor {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .muna {
    border-radius: 42px;
    background: #171a1e;
    max-width: 831px;
    gap: 24px;
    padding: 35px 58px 148px;
    display: flex;
    flex-direction: row;
  }

  .muna:nth-of-type(2) {
    padding-bottom: 53px;
  }

  .ws-sub-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .ws-sub-right > div {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #070b0e;
    border-radius: 24px;
  }

  .ws-sub-right > div > h6 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }

  .ws-sub-right > div > p {
    color: #a7a7a8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.48px;
  }

  .ws-sub-right ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 24px;
  }

  .muna-cont {
    display: inline-flex;
    padding: 42px 18px 62px 32px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #070b0e;
    width: 256px;
    width: 100%;
  }

  .muna-cont > h6 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    align-self: start;
    font-weight: 510;
    line-height: 32px; /* 133.333% */
    text-align: left;
  }

  .muna-cont > div {
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: 22px; /* 157.143% */
    width: 100%;
    letter-spacing: 0.56px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .muna-cont > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .phc-bcont-alt {
    gap: 20px;
  }

  .pbsc-ul {
    gap: 0;
  }
  .phc-bcont-subcont {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .pbsc {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .competitiveAnalysis {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .pbsc-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .pbsc-text h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 590;
    line-height: 48px; /* 150% */
    letter-spacing: 0.64px;
  }

  .phc-bodyp-ul {
    gap: 0px;
    padding-left: 24px;
  }

  .ms-padding,
  .nopad {
    padding-left: 64px;
    padding-right: 64px;
  }

  .designProcess {
    gap: 40px;
  }
  .theChallenge,
  .brainstorming {
    gap: 72px;
  }

  .phc-bcont {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .phc-bodyp-alt {
    color: #989999;
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: 150%; /* 30px */
    letter-spacing: 0.8px;
  }

  .phc-bodyp {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.96px;
    gap: 36px;
  }

  .minusSect {
    margin-top: 0;
    z-index: 10;
    background-color: #252627;
    position: relative;
  }

  .highlights {
    gap: 32px;
  }

  .phc-heading2 {
    font-size: 54px;
    font-style: normal;
    line-height: 111.111%;
    letter-spacing: 1.08px;
  }

  .phc-heading2-alt {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.96px;
  }

  .phc-h-h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
  }
  .phc-h-p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.8px;
  }

  .phc {
    gap: 66px;
  }

  .phc-h1 {
    font-size: 88px;
    font-weight: 700;
    line-height: 112%; /* 98.56px */
    letter-spacing: 1.76px;
  }

  .phc-p {
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.8px;
  }

  .phc-x2 {
    gap: 20px;
  }

  /* end of collect africa */

  #actual-footer ul {
    display: flex;
    text-decoration-line: underline;
    gap: 48px;
  }
  #actual-footer {
    padding: 34px 24px 56px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #actual-footer > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 48px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .content-1 > div {
    gap: 12px;
  }

  .content-1 {
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
    gap: 48px;
  }
  .content-2 > div:nth-child(2) {
    font-size: 16px;
    width: auto;
    line-height: 20px;
    max-width: 334px;
    justify-self: flex-end;
  }
  .content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  #first-row-projects,
  #second-row-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .ms-padding,
  .nopad {
    padding-left: 238px;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1400px) {
}

/* Rarely touched */

@media only screen and (min-width: 1640px) {
  .header-full {
    height: auto;
    padding-bottom: 337px;
  }
}
