@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Regular.ttf") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Medium.ttf") format("TrueType");
  font-weight: 500;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Semibold.ttf") format("TrueType");
  font-weight: 600;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Bold.ttf") format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "SF pro";
  src: url("/fonts/sf-pro/SFProDisplay-Black.ttf") format("TrueType");
  font-weight: 900;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: normal;
}

.header-full {
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .g10 {
    color: #fafafa;
  }
  .grey-g20 {
    background-color: #161718;
  }
  .g20 {
    background-color: #f5f5f5;
  }
  .g40 {
    color: #dfdfdf;
  }
  .g30 {
    color: #ebebec;
  }
  .g50 {
    color: #424344;
  }
  .g70 {
    color: #a7a7a8;
  }
  .g80 {
    color: #989999;
  }
  .g90 {
    color: #898a8a;
  }
  .g100 {
    color: #7b7b7c;
  }
  .g700 {
    color: #252627;
  }
  .g900 {
    color: #898a8a;
  }
}

#first-row-projects,
#second-row-projects {
  display: grid;
  gap: 56px;
}

.setbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.setbody > div {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.content-2 {
  display: flex;
  flex-direction: column;
  gap: 8px; /* should originally be 4px  */
}

.content-2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-2 > div:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
}

.content-1 {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.content-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#actual-footer {
  padding: 40px 20px 56px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

#actual-footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 32px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.d-110 {
  color: #363738;
}

.d-120 {
  color: #6c6d6d;
}

.d-130 {
  color: #989999;
}

.d-140 {
  color: #d7d7d7;
}

.d-150 {
  color: #7b7b7c;
}

#actual-footer > div:nth-child(1) {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#actual-footer ul {
  display: flex;
  text-decoration-line: underline;
  gap: 20px;
  flex-wrap: wrap;
}

#actual-footer > div > div {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

/* For collect Africa */

.phc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.phc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.phc-x1 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #fafafa;
  padding: 8px 16px;
}

.phc-x2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.phc-h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.4px;
  text-align: center;
  font-style: normal;
  max-width: 981px;
}

.phc-p {
  max-width: 677px;
  text-align: center;
  color: #989999;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.56px;
}

.phc-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  /* For collect Africa */

  .phc {
    gap: 66px;
  }

  .phc-h1 {
    font-size: 88px;
    font-weight: 700;
    line-height: 112%; /* 98.56px */
    letter-spacing: 1.76px;
  }

  .phc-p {
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.8px;
  }

  .phc-x2 {
    gap: 20px;
  }

  #actual-footer ul {
    display: flex;
    text-decoration-line: underline;
    gap: 48px;
  }
  #actual-footer {
    padding: 34px 24px 56px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #actual-footer > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 48px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .content-1 > div {
    gap: 12px;
  }

  .content-1 {
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
    gap: 48px;
  }
  .content-2 > div:nth-child(2) {
    font-size: 16px;
    width: auto;
    line-height: 20px;
    max-width: 334px;
    justify-self: flex-end;
  }
  .content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  #first-row-projects,
  #second-row-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1640px) {
  .header-full {
    height: auto;
    padding-bottom: 337px;
  }
}
